.envrc
/tmp/
/.idea/
/.cache/
__pycache__/
/.venv/
/.venv2/
/.venv3/
.venv
*.pyc
.coverage
/.pytest_cache/
src/handlers/*/vendored/*
!src/handlers/*/vendored/__init__.py
/.vscode/
/.aws-sam/
requirements.txt
/template.yml
/.mypy_cache/
